<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
<script type="text/javascript" th:src="@{/js/eventForm.js}"></script>
<h1>Add Event</h1>
<p>*The default location is the office of the lecturer.</p>
    <form action="#" th:action="@{/event/add}" th:object="${event}" method="post">
        <input type="hidden" id="creatorUserId" name="creatorUserId" th:attr="value = ${user.userId}"/>
        <input type="hidden" id="recipientUserId" name="recipientUserId" th:attr="value = ${recipient.userId}" />
        <input type="hidden" id="eventStart" name="eventStart" th:value="*{eventStart}"/>
        <input type="hidden" id="eventEnd" name="eventEnd" th:value="*{eventEnd}"/>
        <p th:text="'Event with: ' + ${recipient.getFirstName()} + ' ' + ${recipient.getLastName()}"></p>
        <p><input type="datetime-local" th:value="${event.eventStart}" readonly/></p>
        <p><input type="datetime-local" th:value="${event.eventEnd}" readonly></p>
        <p><input type="text" id="title" name="title" th:value="*{title}"></p>
        <p><input type="text" id="description" name="description" th:value="*{description}"></p>
        <p><input type="text" id="location" name="location" th:value="*{location}">*</p>
        <p th:if="${user.userId == recipient.userId}">
            <input type="checkbox" id="recurring" name="recurring" onclick="onCheck()">
        </p>
        <p th:if="${user.userId == recipient.userId}">
            <input type="text" id="recurringLengthString" name="recurringLengthString" th:value="*{recurringLengthString}" style="display: none">
        </p>
        <p><input type="submit" value="Submit"></p>
    </form>
<button><a href="/home">Home</a> </button>
</body>
</html>