<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
<script type="text/javascript" th:src="@{/js/eventForm.js}"></script>
<h1>Add Event</h1>
<p th:if="${user.userId != recipient.userId}">The default location is the office of the lecturer.</p>
    <form action="#" th:action="@{/event/add}" th:object="${event}" method="post">
        <p th:if="${#fields.hasGlobalErrors()}">Time clash.</p>
        <table>
            <tr>
                <td><p th:text="'Event with: ' + ${recipient.getFirstName()} + ' ' + ${recipient.getLastName()}"></p></td>
            </tr>
            <tr>
                <td><label for="eventStartDummy">Event Start: </label></td>
                <td><input type="datetime-local" id="eventStartDummy" th:value="${event.eventStart}" readonly/></td>
                <td th:if="${#fields.hasErrors('eventStart')}" th:errors="*{eventStart}">Validation error</td>
            </tr>
            <tr>
                <td><label for="eventEndDummy">Event End: </label></td>
                <td><input type="datetime-local" id="eventEndDummy"th:value="${event.eventEnd}" readonly></td>
                <td th:if="${#fields.hasErrors('eventEnd')}" th:errors="*{eventEnd}">Validation error</td>
            </tr>
            <tr>
                <td><label for="title">Title: </label></td>
                <td><input type="text" id="title" name="title" th:value="*{title}" th:required="true"></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Validation error</td>
            </tr>
            <tr>

                <td><label for="description">Description: </label></td>
                <td><textarea id="description" name="description" th:value="*{description}" th:required="true"></textarea></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Validation error</td>
            </tr>
            <tr>
                <td><label for="location">Location: </label></td>
                <td><input type="text" id="location" name="location" th:value="*{location}"></td>
                <td th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Validation error</td>
            </tr>
            <tr th:if="${user.userId == recipient.userId}">
                <td><label for="recurring">Recurring Event: </label></td>
                <td><input type="checkbox" id="recurring" name="recurring" onclick="onCheck()"></td>
                <td><label for="recurringLength" id="recurringLengthLabel" style="display: none">Recurring Event Length (weeks): </label></td>
                <td><input type="text" id="recurringLength" name="recurringLength" th:value="*{recurringLength}" style="display: none"></td>
                <td th:if="${#fields.hasErrors('recurringLength')}" th:errors="*{recurringLength}">Validation error</td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>

        </table>
        <input type="hidden" id="creatorUserId" name="creatorUserId" th:attr="value = ${user.userId}"/>
        <input type="hidden" id="recipientUserId" name="recipientUserId" th:attr="value = ${recipient.userId}" />
        <input type="hidden" id="eventStart" name="eventStart" th:value="*{eventStart}"/>
        <input type="hidden" id="eventEnd" name="eventEnd" th:value="*{eventEnd}"/>
    </form>
<button><a href="/home">Home</a> </button>
</body>
</html>