<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
</head>
<body>
<h1>Edit Event</h1>
<form action="#" th:action="@{/event/edit}" th:object="${event}" method="post">
    <table>
        <tr>
            <td><h2 th:text="'Event with: ' + ${event.recipientUserId.getFirstName()} + ' ' + ${event.recipientUserId.getLastName()}"></h2></td>
        </tr>
        <tr>
            <td><label for="eventStartDummy">Event Start: </label></td>
            <td><input type="datetime-local" id="eventStartDummy" th:value="${event.eventStart}" readonly/></td>
            <td th:if="${#fields.hasErrors('eventStart')}" th:errors="*{eventStart}">Validation error</td>
        </tr>
        <tr>
            <td><label for="eventEndDummy">Event End: </label></td>
            <td><input type="datetime-local" id="eventEndDummy" th:value="${event.eventEnd}" readonly /></td>
            <td th:if="${#fields.hasErrors('eventEnd')}" th:errors="*{eventEnd}">Validation error</td>
        </tr>
        <tr>
            <td><label for="title">Title: </label></td>
            <td><input type="text" id="title" name="title" th:value="*{title}" th:required="true" /></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Validation error</td>
        </tr>
        <tr>
            <td><label for="description">Description: </label></td>
            <td><textarea id="description" name="description" th:value="*{description}" th:text="${event.description}" th:required="true"></textarea></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Validation error</td>
        </tr>
        <tr>
            <td><label for="location">Location: </label></td>
            <td><input type="text" id="location" name="location" th:value="*{location}" th:required="true"/></td>
            <td th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Validation error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>


    <input type="hidden" id="eventId" name="eventId" th:field="*{eventId}"/>
    <input type="hidden" id="creatorUserId" name="creatorUserId" th:field="*{creatorUserId}"/>
    <input type="hidden" id="recipientUserId" name="recipientUserId" th:field="*{recipientUserId}"/>
    <input type="hidden" id="eventStart" name="eventStart" th:value="*{eventStart}"/>
    <input type="hidden" id="eventEnd" name="eventEnd" th:value="*{eventEnd}"/>
</form>
<button><a href="/home">Home</a></button>
</body>
</html>