<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
</head>
<body>
<h1>Edit Event</h1>
<form action="#" th:action="@{/event/edit}" th:object="${event}" method="post">
    <input type="hidden" id="eventId" name="eventId" th:field="*{eventId}"/>
    <input type="hidden" id="creatorUserId" name="creatorUserId" th:field="*{creatorUserId}"/>
    <input type="hidden" id="recipientUserId" name="recipientUserId" th:field="*{recipientUserId}"/>
    <h2 th:text="'Event with: ' + ${event.recipientUserId.getFirstName()} + ' ' + ${event.recipientUserId.getLastName()}"></h2>
    <p><input type="datetime-local"  id="eventStart" name="eventStart" th:value="*{eventStart}"/></p>
    <p><input type="datetime-local" id="eventEnd" name="eventEnd" th:value="*{eventEnd}"></p>
    <p><input type="text" id="title" name="title" th:value="*{title}"></p>
    <p><input type="text" id="description" name="description" th:value="*{description}"></p>
    <p><input type="text" id="location" name="location" th:value="*{location}"/> </p>
    <p><input type="submit" value="Submit"></p>
</form>
<button><a href="/home">Home</a></button>
</body>
</html>