<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Booking System</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="navbar-brand" th:href="@{/home}">Booking System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/view">Account Details</a>
            </li>
            <li class="nav-item">
                <a th:if="${unreadNotifications != 0}" th:text="${unreadNotifications + ' unread notification(s)'}" class="nav-link" th:href="@{'/notifications/'}"></a>
                <a th:unless="${unreadNotifications != 0}" class="nav-link" th:href="@{'/notifications/'}">View Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>

        <section id="user">
            <div th:if="${user.student}" class="search">
                <h2 class="text-white">Search Staff</h2>
                <form th:object="${name}" th:action="@{/search}" method="get" class="form-inline my-2 my-lg-0">
                    <input type="text" name="name" id="name" th:value="${name}" class="form-control mr-sm-2"/>
                    <input type="submit" value="Search" class="btn btn-secondary my-2 my-sm-0"/>
                </form>
            </div>
        </section>
    </nav>
    <div class="masthead text-center">
        <h1>Edit Event</h1>
        <h2 th:text="'Event with: ' + ${event.recipientUserId.getFirstName()} + ' ' + ${event.recipientUserId.getLastName()}"></h2>
    </div>
    <div class="container text-center">

        <form action="#" th:action="@{/event/edit}" th:object="${event}" method="post">
            <table>
                <tr class="form-group">
                    <td><label for="eventStartDummy" class="col-form-label">Event Start: </label></td>
                    <td><input type="datetime-local" id="eventStartDummy" th:value="${event.eventStart}" readonly class="form-control"/></td>
                    <td th:if="${#fields.hasErrors('eventStart')}" th:errors="*{eventStart}">Validation error</td>
                </tr>
                <tr class="form-group">
                    <td><label for="eventEndDummy" class="col-form-label">Event End: </label></td>
                    <td><input type="datetime-local" id="eventEndDummy" th:value="${event.eventEnd}" readonly class="form-control" /></td>
                    <td th:if="${#fields.hasErrors('eventEnd')}" th:errors="*{eventEnd}">Validation error</td>
                </tr>
                <tr class="form-group">
                    <td><label for="title" class="col-form-label">Title: </label></td>
                    <td><input type="text" id="title" name="title" th:value="*{title}" th:required="true" class="form-control"/></td>
                    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Validation error</td>
                </tr>
                <tr class="form-group">
                    <td><label for="description" class="col-form-label">Description: </label></td>
                    <td><textarea id="description" name="description" th:value="*{description}" th:text="${event.description}" th:required="true" class="form-control"></textarea></td>
                    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Validation error</td>
                </tr>
                <tr class="form-group">
                    <td><label for="location" class="col-form-label">Location: </label></td>
                    <td><input type="text" id="location" name="location" th:value="*{location}" th:required="true" class="form-control"/></td>
                    <td th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Validation error</td>
                </tr>
                <tr class="form-group">
                    <td><input type="submit" value="Submit" class="btn btn-primary"></td>
                </tr>
            </table>


            <input type="hidden" id="eventId" name="eventId" th:field="*{eventId}"/>
            <input type="hidden" id="creatorUserId" name="creatorUserId" th:field="*{creatorUserId}"/>
            <input type="hidden" id="recipientUserId" name="recipientUserId" th:field="*{recipientUserId}"/>
            <input type="hidden" id="eventStart" name="eventStart" th:value="*{eventStart}"/>
            <input type="hidden" id="eventEnd" name="eventEnd" th:value="*{eventEnd}"/>
        </form>
    </div>
</div>
</body>
</html>