<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
</head>
<body>
<h1>Your notifications</h1>

<table>
    <thead>
        <tr>
            <th>Received</th>
            <th>Title</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="notification: ${notifications}">
            <td th:text="${notification.getCreatedOn().toLocaleString()}"></td>
            <td th:text="${notification.getTitle()}"></td>
            <td><a th:href="@{'/notifications/view/' + ${notification.getNotificationId()}}">View</a></td>
            <td th:if="${not notification.isSeen()}">*</td>
        </tr>
    </tbody>
</table>
<button><a href="/notifications/read/all">Read All Notifications</a></button>
<button><a href="/home">Home</a></button>
</body>
</html>