<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Name</title>
</head>
<body>
    <form action="#" th:action="@{/user/edit/name}" th:object="${user}" method="post">
        <table class="col-md-8 order-md-1">
            <input type="hidden" id="userId" name="userId" th:field="*{userId}" />
            <tr class="row">
                <td class="col-md-3"><label for="firstName">Firstname: </label></td>
                <td class="col-md-3"><input id="firstName" name="firstName" th:field="*{firstName}" th:required="true"/></td>
                <td th:if="${#fields.hasErrors('firstName')}" class="col-md-3"
                    th:errors="*{firstName}">Validation error</td>
            </tr>
            <tr class="row">
                <td class="col-md-3"><label for="lastName">Lastname: </label></td>
                <td class="col-md-3"><input id="lastName" name="lastName" th:field="*{lastName}" th:required="true"/></td>
                <td th:if="${#fields.hasErrors('lastName')}" class="col-md-3"
                    th:errors="*{lastName}">Validation error</td>
            </tr>
            <tr class="row">
                <td class="col-md-3" >
                    <input  type="submit" value="Submit" />
                </td>
                <td class="col-md-3"><button><a href="/home">Home</a></button></td>
            </tr>
        </table>
    </form>
</body>
</html>