<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
</head>
<body>
<form action="#" th:action="@{/user/edit/password}" th:object="${password}" method="post">
    <table>
        <tr th:if="${param.size() > 0}">
            <td th:if="${param.badPass}">Password Incorrect.</td>
            <td th:if="${param.noMatch}">Passwords do not match.</td>
        </tr>
        <tr>
            <td><label for="currentPassword">Current Password: </label> </td>
            <td><input type="password" id="currentPassword" name="currentPassword" th:value="*{currentPassword}" /></td>
        </tr>
        <tr>
            <td><label for="newPassword">New Password: </label> </td>
            <td><input type="password" id="newPassword" name="newPassword" th:value="*{password}" /></td>
        </tr>
        <tr>
            <td><label for="ConfirmNewPassword">Confirm New Password: </label> </td>
            <td><input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" th:value="*{confirmPassword}" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
            <td><button><a href="/home">Home</a></button></td>
        </tr>
    </table>
</form>
</body>
</html>