<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
</head>
<body>
<form action="#" th:action="@{/user/edit/password}" th:object="${passwordDto}" method="post">
    <table>
        <tr class="row">
            <td class="col-md-3"><label for="currentPassword">Current Password: </label> </td>
            <td class="col-md-3"><input type="password" id="currentPassword" name="currentPassword" th:value="*{currentPassword}" /></td>
            <td th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="col-md-3">Validation error</td>
        </tr>
        <tr class="row">
            <td class="col-md-3"><label for="password">New Password: </label></td>
            <td class="col-md-3"><input type="password" id="password" name="password" th:field="*{password}" th:required="true" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="col-md-3">Validation error</td>
        </tr>
        <tr class="row">
            <td class="col-md-6"><small class="text-muted">Passwords must be 8 characters or more.</small></td>
        </tr>
        <tr class="row">
            <td class="col-md-3"><label for="confirmPassword">Confirm New Password: </label></td>
            <td class="col-md-3"><input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" th:required="true"/></td>
            <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="col-md-3">Validation error</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
            <td><button><a href="/home">Home</a></button></td>
        </tr>
    </table>
</form>
</body>
</html>