<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
<h1>Add Event</h1>
<h2 th:text="${user.getUserId()}"></h2>
    <form action="#" th:action="@{/event/add}" th:object="${event}" method="post">
        <input type="hidden" id="creatorUserId" name="creatorUserId" th:attr="value = ${user.userId}"/>
        <input type="hidden" id="recipientUserId" name="recipientUserId" value="2" />
        <p><input type="date" id="eventStart" name="eventStart"/></p>
        <p><input type="datetime-local" th:field="*{eventEnd}"></p>
        <p><input type="text" th:field="*{title}"></p>
        <p><input type="text" th:field="*{description}"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>