<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href="css/home.css" rel="stylesheet"/>

    <script src='fullcalendar/core/main.js'></script>
    <script src='fullcalendar/daygrid/main.js'></script>
    <script src='fullcalendar/timegrid/main.js'></script>
    <script src='fullcalendar/interaction/main.js'></script>
    <script src="js/calendarInit.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Booking System</title>
</head>
<script th:inline="javascript">
    let eventUrl = /*[[${url}]]*/ "";
    let dayStart = /*[[${dayStart}]]*/ "";
    let dayEnd = /*[[${dayEnd}]]*/ "";
    let userId = /*[[${user.getUserId()}]]*/ "";
    let isHome = true;
</script>
<div class="container-fluid">
<h1 th:text="'Welcome ' + ${user.getFirstName()} + '!'"></h1>
<ul>
    <li><a href="/user/view">Account Details</a></li>
    <!-- Here logout and go home -->
    <li><a href="/logout">Logout</a></li>
</ul>

<section id="user">
    <p th:if="${param.notYourNotif}">Not your notification(s)</p>

    <h3 th:if="${unreadNotifications != 0}" th:text="${'You have ' + unreadNotifications + ' unread notifications'}"></h3>
    <button><a th:href="@{'/notifications/'}">View Notifications</a></button>

    <div th:if="${user.student}" class="search">
        <h2>Search for the name of the staff member you wish to book!</h2>
        <form th:object="${name}" th:action="@{/search}" method="get">
            <input type="text" name="name" id="name" th:value="${name}" />
            <input type="submit" value="Search" />
        </form>
        <button><a href="/search">View all staff</a></button>
    </div>
</section>
<section id="events">
    <h2 th:if="${param.notYourEvent}">The event is none of you business!</h2>
    <h2 th:if="${param.cancel}">Event Successfully Cancelled/Declined!</h2>
    <section>
        <h2>Your Calendar</h2>
        <div id="calendar"></div>
    </section>
</section>
</div>
</body>
</html>