<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href="css/home.css" rel="stylesheet"/>

    <script src='fullcalendar/core/main.js'></script>
    <script src='fullcalendar/daygrid/main.js'></script>
    <script src='fullcalendar/timegrid/main.js'></script>
    <script src="js/calendarInit.js"></script>

    <title>Booking System</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${user.getFirstName()} + '!'"></h1>
<ul>
    <li><a href="/user/view">Account Details</a></li>
    <!-- Here logout and go home -->
    <li><a href="/logout">Logout</a></li>
</ul>



<section id="events">

    <div th:if="${user.student}" class="search">
        <h2>Search for the lastname of the staff member you wish to book!</h2>
        <form th:object="${lastname}" th:action="@{/search}" method="get">
            <input type="text" name="lastname" id="lastname" th:value="${lastname}" />
            <input type="submit" value="Search" />
        </form>
    </div>

    <ul>
        <li><a th:href="@{'/event/add/' + ${user.getUserId()}}">Add Event with yourself</a></li>
    </ul>

    <section>
        <h2>Your Calendar</h2>
        <div id="calendar"></div>
    </section>


    <!-- Here do thymeleaf listing -->
    <ul th:each="event : ${events}">
        <li><a th:href="@{'/event/view/' + ${event.eventId}}" th:text="${event.title}"></a></li>
    </ul>
</section>

</body>
</html>