<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <h1>Please Login</h1>
        <div class="btn-group">
            <button class="btn btn-secondary"><a class="text-white" href="/">Home</a></button>
            <button class="btn btn-secondary"><a class="text-white" href="/register">Register</a></button>
        </div>

        <form name="f" th:action="@{/login}" method="post">
            <table>
                <tr class="form-group" th:if="${param.error}">
                    <td>Invalid username and password.</td>
                </tr>
                <tr class="form-group" th:if="${param.logout}">
                    <td>You have successfully been logged out.</td>
                </tr>
                <tr class="form-group"th:if="${param.registered}">
                    <td>Account has been registered!</td>
                </tr>
                <tr class="form-group" th:if="${param.success}">
                    <td>Email or password successfully changed! Please login again with your new details.</td>
                </tr>
                <tr class="form-group">
                    <td id="user-name-label"><label for="username" class="col-form-label">Email:</label></td>
                    <td><input type="text" id="username" name="username" class="form-control"/></td>
                </tr>
                <tr class="form-group">
                    <td id="password-label"><label for="password" class="col-form-label">Password:</label> </td>
                    <td><input type="password" id="password" name="password" class="form-control" /></td>
                </tr>
                <tr class="form-group">
                    <td><input class="btn btn-primary" type="submit" name="submit" value="submit"/></td>
                </tr>
            </table>
        </form>

    </div>
</div>
</body>
</html>