<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Staff</title>
</head>
<body>
<section id="searchResults" th:if="${not #lists.isEmpty(searchResults)}">
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Room No.</th>
        </tr>
        <tr th:each="staff: ${searchResults}" th:if="${staff.getStaffId()}">
            <td th:text="${staff.firstName}"></td>
            <td th:text="${staff.lastName}"></td>
            <td th:text="${staff.getStaffId().room}"></td>
            <td><button><a th:href="@{'/staff/times/' + ${staff.getUserId()}}">Book</a></button></td>
        </tr>
    </table>
</section>
<div th:if="${#lists.isEmpty(searchResults)}">
    <h2>No results matched your search.</h2>
    <button><a href="/home">Home</a></button>
</div>
</body>
</html>